#home img {
  height: 12rem;
  border-radius:100px;
  padding: 2px;
  background-color: transparent;
  filter: blur(50%);
  background-color: rgba(205, 205, 205, 0.096);
  border: solid 1px #4dffb5;
  
}
hero {
  background-repeat: none;
  z-index: 2;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/my-portfolio/src/assets/wickedbackground.png") ;
}
bg {
  background-image: url("/my-portfolio/src/assets/wickedbackground.png") ;
}

.highlight {
  color: #4dffb5;
}

#home h2 {
  color: white;
}

