#home img {
  height: 12rem;
  border-radius:100px;
  padding: 2px;
  background-color: transparent;
  filter: blur(50%);
  background-color: rgba(205, 205, 205, 0.096);
  border: solid 1px #4dffb5;
}

.highlight {
  color: #4dffb5;
}

#home h2 {
  color: white;
}

p {
  background-color: transparent;
}